* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  overflow-x: hidden;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  text-align: center;
  padding: 2rem;
  background-color: whitesmoke;
}

.footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}
